{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "@Assets": "./src/assets",
          "@Constants": "./src/constants",
          "@Components": "./src/components",
          "@Locale": "./src/locale",
          "@Router": "./src/router",
          "@Services": "./src/services",
          "@Screens": "./src/screens",
          "@Store": "./src/store",
          "@Styles": "./src/styles",
          "@Types": "./src/types"
        }
      }
    ],
    ["istanbul"]
  ]
}
